.container {
  max-width: 600px;
  min-width: 400px;
  margin: auto;
}
@media only screen and (max-width: 600px) {
  .container {
    width: 90vw;
    min-width: 300px;
  }
}

.searchBox {
  position: relative;
}
.searchBox button.clear-button {
  position: absolute;
  background-color: transparent;
  right: 0;
  color: gray;
  border: none;
  width: 60px;
  padding: 0;
}

.buttonBox {
  display: flex;
  height: 3.8rem;
}
.buttonBox button {
  margin: 0;
}
.buttonBox label {
  display: flex;
  align-items: center;
  height: 100%;
}
.buttonBox label input {
  margin: 0 8px;
}

details {
  margin: 8px 0 16px 0;
  padding: 8px;
}

details label input[type="text"],
details label input[type="tel"] {
  box-sizing: border-box;
}

details {
  margin-bottom: 10px;
}

details[open] {
  border: 1px solid #ccc;
  border-radius: 6px;
}

details button {
  margin: 16px 0;
}

.front-matter {
  position: relative;
}

.front-matter textarea {
  width: 100%;
  min-height: 250px;
  margin: 0;
  border: 1px solid #ccc;
}

.front-matter button {
  position: absolute;
  right: 0;
  border-radius: 0 0 0 8px;
  background: white;
  color: #444;
  border: 1px solid #ccc;
}

button.done::after {
  content: "\2714";
}

[v-cloak] {
  display: none;
}
