<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <link rel="icon"
        href="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20100%20100%22%3E%3Ctext%20x%3D%2250%25%22%20y%3D%2250%25%22%20style%3D%22dominant-baseline%3Acentral%3Btext-anchor%3Amiddle%3Bfont-size%3A90px%3B%22%3E%26%23x1F4DA%3B%3C/text%3E%3C/svg%3E">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>BIB-LIO</title>
    <link rel="stylesheet" type="text/css" href="./almond.lite.css">
    <link rel="stylesheet" type="text/css" href="./additional.css">
</head>

<body>
    <div class="container">
        <div id="app">
            <div class="ui">
                <div class="isbn">
                    <div class="box">
                        <input type="tel" v-model="bookNum" onsubmit="return false;" autofocus v-select
                            @keydown.enter="getBiblioData">
                        <button class="clear-button" @click="clearBox" tabindex="-1">&times;</button>
                    </div>
                    <button @click="getBiblioData">GO</button>
                </div>
                <div class="preview" v-cloak>{{isbnFullFormat}}</div>
            </div>
            <div class="res">
                <textarea v-model="infoByOpenBd"></textarea>
                <button @click="openScrapBox(infoByOpenBd)">SCRAP</button>
                <button @click="googleSearch" v-if="requireExtraSearch" v-cloak class="google-button">GOOGLE</button>
            </div>
            <div class="res">
                <textarea v-model="infoByGoogle"></textarea>
                <button @click="openScrapBox(infoByGoogle)">SCRAP</button>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.37/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        const getCheckDigit = (isbn) => {
            const total = String(isbn).split("").map((n, i) => {
                if (i % 2 == 0) {
                    return Number(n);
                }
                return Number(n) * 3;
            }).reduce((accum, x) => {
                return accum + Number(x)
            }, 0);
            return ((10 - (total % 10))) % 10;
        }

        const formatPubdate = (s) => {
            const pd = s.replace(/[^\d]/g, "");
            return pd.substr(0, 4) + "/" + pd.substr(4, 2) + "/" + pd.substr(6, 2);
        }

        const formatIsbn = (s) => {
            return s.substr(0, 3) + "-" + s.substr(3, 1) + "-" + s.substr(4, 8) + "-" + s.substr(12, 1);
        }

        const formatAuthor = (s) => {
            return s.replace(/\uff0f[^ ]+$/, "").replace(/\uff0f.+? /g, " ").split(" ").map(elem => "#" + elem).join(" ");
        }

        const toHalfWidth = (s) => {
            return s.replace(/[\uff21-\uff3a\uff41-\uff5a\uff10-\uff19]/g, (s) => {
                return String.fromCharCode(s.charCodeAt(0) - 0xFEE0);
            });
        }

        const formatContent = (title = "", subtitle = "", author = "", publisher = "", pubdate = "", toc = "") => {
            const st = (subtitle.length && subtitle != title) ? ("\u2015\u2015" + subtitle) : "";
            const fullTitle = toHalfWidth(title + st);
            const lines = [
                `『[${fullTitle}]』`,
            ];
            if (author.length) {
                lines.push(formatAuthor(author));
            }
            else {
                lines.push("#");
            }
            lines.push(`#${publisher} ${formatPubdate(pubdate)}`);
            lines.push("\n\n" + toc.replace(/(\r?\n)+/g, "\n\n\n"));
            return lines.join("\n")
        }

        const calcISBN = (s) => {
            if (s.length == 9) {
                return `9784${s.substr(0, 8)}`;
            }
            if (s.length == 13) {
                return s.substr(0, 12);
            }
            return `9784${s.padStart(8, "0")}`;
        }

        const vm = Vue.createApp({
            data: function () {
                return {
                    bookNum: "",
                    infoByOpenBd: "",
                    infoByGoogle: "",
                }
            },
            computed: {
                strNum: function () {
                    return String(this.bookNum).replace(/\s|[^\d]/g, "");
                },
                isbn: function () {
                    return calcISBN(this.strNum);
                },
                checkDigit: function () {
                    return getCheckDigit(this.isbn);
                },
                isbnFull: function () {
                    return `${this.isbn}${this.checkDigit}`;
                },
                isbnFullFormat: function () {
                    return formatIsbn(this.isbnFull);
                },
                requireExtraSearch: function () {
                    return this.infoByOpenBd.length > 0 || this.infoByGoogle.length > 0;
                }
            },
            methods: {
                clearBox: function () {
                    this.bookNum = "";
                },
                reset: function () {
                    this.infoByOpenBd = "";
                    this.infoByGoogle = "";
                },
                fetchOpenBD: function () {
                    axios.get(`https://api.openbd.jp/v1/get?isbn=${this.isbnFull}`).then(response => {
                        if (response.data[0]) {
                            const summary = response.data[0].summary;
                            const subtitle = response.data[0].onix.DescriptiveDetail.TitleDetail.TitleElement.TitleText.content || "";
                            const colDetail = response.data[0].onix.CollateralDetail;
                            const textContent = (colDetail) ? colDetail.TextContent.filter(x => x.TextType == "04") : [];
                            const toc = (textContent.length) ? textContent[0].Text : "";
                            this.infoByOpenBd = formatContent(summary.title, subtitle, summary.author, summary.publisher, summary.pubdate, toc);
                        }
                        else {
                            this.infoByOpenBd = formatContent();
                        }
                    });
                },
                fetchGoogleBooks: function () {
                    axios.get(`https://www.googleapis.com/books/v1/volumes?q=isbn:${this.isbnFull}`).then(response => {
                        if (response.data.items) {
                            const vInfo = response.data.items[0].volumeInfo;
                            const title = vInfo.title;
                            const subTitle = vInfo.subtitle || "";
                            const author = vInfo.authors.join("・");
                            const publisher = vInfo.publisher || "";
                            const pubdate = vInfo.publishedDate || "";
                            this.infoByGoogle = formatContent(title, subTitle, author, publisher, pubdate);
                        }
                        else {
                            this.infoByGoogle = formatContent();
                        }
                    })
                },
                getBiblioData: function () {
                    this.reset();
                    this.fetchOpenBD();
                    this.fetchGoogleBooks();
                },
                googleSearch: function () {
                    window.open("https://www.google.com/search?hl=ja&q=" + this.isbnFull);
                },
                openScrapBox: function (content) {
                    if (this.strNum.trim().length < 1) {
                        return;
                    }
                    const title = this.isbnFullFormat;
                    window.open("https://scrapbox.io/awtnb-book-dog-ear/" + encodeURIComponent(title) + "?body=" + encodeURIComponent(content));
                },
            },
            directives: {
                select: {
                    mounted: function (el) {
                        el.select()
                    }
                }
            }
        }).mount("#app");
    </script>
</body>

</html>